@tailwind base;
@tailwind components;
@tailwind utilities;

.hide {
  display: none;
}

#uidnote {
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

#pwdnote {
  display: flex;
  flex-direction: row;
}

.instructions {
  border-radius: 0.5rem;
  font-size: 0.75rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}
.valid {
  color: green;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
